# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file



fastapi[all]==0.111.0
uvicorn[standard]==0.29.0
gunicorn==21.2.0
torch==2.2.0
torchvision==0.17.0
timm==1.0.3
numpy<2.0.0
